
 p1{
    align-items: start;
    color:red;
    }

#p2{
    color:brown;
    align-items: start
    }
#p3{
    align-items:start;
    color: dimgrey;
    }
#p4{
    color: azure;
    align-items:start;
    }
#p5{
    color: antiquewhite;
    align-items:start;
    }
#hitler1{
        align-items:center;
        }
#hitler2{
        align-items:center;
        }
#hitler3{
        align-items:center;
        }
#hitler4{
        align-items:center;
        }
#hitler5{
        align-items:center;
        }
#img1{
    align-items:center;
    }
#img2{
    align-items:center;
    }
#img3{
    align-items:center;
    }
#img4{
    align-items:center;
    }
#img5{
    align-items:center;
    }